@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<System>

@foreach (var p in Model) {
    <div>
        <h3>@p.Sys_Code</h3>
        @p.Sys_Name<br>
        @p.Sys_Description<br>
        @p.Sys_CreateDate.ToString("d")<br>
        @p.Sys_CreatedTime.ToString("t")<br>
    </div>
}
