@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RegistrationSystem.Models.EnhancementSelectionList
@{
    Layout = "_Layout";
    ViewBag.Title = "Enhancement Selection";
    ViewBag.TxtAlign = "text-left";
    ViewBag.HeaderTitle = "Enhancement Selection Listing";
}

<div class="text-right mp-3 mb-3">
    <a asp-action="Index" class="btn btn-secondary btn-sm">System Registration</a> 
</div>

<form asp-action="EnhancementSelection" method="post">

    <input type="hidden" asp-for="@Model.srk.Syr_Cst_Code" />
    <input type="hidden" asp-for="@Model.srk.Syr_Sys_Code" />
    <input type="hidden" asp-for="@Model.srk.Syr_Ver_Code" />
    <input type="hidden" asp-for="@Model.srk.Syr_SerialNum" />
    <input type="hidden" asp-for="@Model.srk.Syr_CustomerKey" />
    <input type="hidden" asp-for="@Model.srk.Syr_UnlockKey" />
    <input type="hidden" asp-for="@Model.srk.Syr_ProdKey" />

    <input type="hidden" asp-for="@Model.Mod_Code" />

    <table class="table table-striped table-bordered-sm">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Selection</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.enhancement_list.Count; i++)
            {
                <tr>
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.enhancement_list[i].Enh_Sys_Code" />
                        <input type="hidden" asp-for="@Model.enhancement_list[i].Enh_Code" />
                    </div>
                    <td>@Model.enhancement_list[i].Enh_Code</td>
                    <td>@Model.enhancement_list[i].Enh_Name</td>
                    <td>@Model.enhancement_list[i].Enh_Description</td>
                    <td><input type="checkbox" asp-for="@Model.selection_list[i]" /></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-right">
        <button type="submit" class="btn btn-primary btn-sm">Summit</button>
        @Html.ActionLink("Cancel", "SystemRegistrationForm",
                         new { cst_code = @Model.srk.Syr_Cst_Code, sys_code = @Model.srk.Syr_Sys_Code,
                               ver_code = @Model.srk.Syr_Ver_Code, mod_code = @Model.Mod_Code },
                         new { @class="btn btn-primary btn-sm"})

    </div>
</form>